* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

li {
    transition: transform 0.5s ease-in-out;
    transform: translateY(0px);
}

li:hover {
    transform: translateY(-5px);
}

@keyframes levitate {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0px); }
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }
}
